.example-spacer {
  flex: 1 1 auto;
}

.login-box {
  background-color: white;
  width: 25%;
  height: 500px;
  border: 1px solid lightgray;
  padding: 20px;
  margin:auto;
}

.login-box-row {
  background-color: white;
  width: auto;
  border: 1px solid lightgray;
  padding: 50px;
  margin: auto;
}

.mat-card {

  padding-top: 5%;
  padding-bottom: 13%;
}
