<div class="main">
  <div class="container">
    <div style="text-align: center;">
      <div class="middle">
        <div id="login">
          <form action="javascript:void(0);" method="get">
            <fieldset class="clearfix">
              <p ><span class="fa fa-user"></span><input type="text"  Placeholder="Username" required></p> <!-- JS because of IE support; better: placeholder="Username" -->
              <p><span class="fa fa-lock"></span><input type="password"  Placeholder="Password" required></p> <!-- JS because of IE support; better: placeholder="Password" -->
              <span style="width:100%; text-align:center;  display: inline-block;height: 50px"><input type="submit" value="Sign In" [routerLink]="['dashboard']"></span>
              <div>
                  <span style="width:48%; text-align:left;  display: inline-block;"><a class="small-text" href="#">Forgot password?</a></span>
              </div>
              <span style="width:100%; text-align:center;  display: inline-block;"><input type="submit" value="Register" [routerLink]="['register']"></span>
            </fieldset>
            <div class="clearfix"></div>
          </form>
          <div class="clearfix"></div>
        </div> <!-- end login -->
        <div class="logo">Store
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>

</div>
