.example-spacer {
  flex: 1 1 auto;
}

.login-box {
  background-color: white;
  width: 35%;
  height: 60%;
  border: 1px solid lightgray;
  padding: 20px;
  margin:auto;
}

.login-box-row {
  background-color: white;
  width: auto;
  border: 1px solid lightgray;
  padding: 50px;
  margin: auto;
}

.mat-card {
  width:100%;
  height:100%;
  background-image: url('~src/assets/images/login-bg.jpg');
  background-size: auto;
  padding-top: 10%;
  padding-bottom: 13%;
}
