

<div class="row">
  <!-- <div class="col-md-12">
      <h4>Dashboard</h4>
  </div>         -->
  <!-- dashboard header start -->
  <div class="col-md-12 p-0">
    <div class="breadcome-area">
      <div class="container-fluid">
        <div class="row dashboard_header">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="breadcome-list">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <div class="breadcome-heading">
                    <form role="search" class="">
                      <input type="text" placeholder="Search..." class="form-control">
                      <a href="">
                        <i class="fa fa-search"></i>
                      </a>
                    </form>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <ul class="breadcome-menu">
                    <li>
                      <a href="#">Home</a>
                      <span class="bread-slash">/</span>
                    </li>
                    <li>
                      <span class="bread-blod">Dashboard</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- dashboard header end -->
  <div class="pos_relative">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3 col-lg-3 col-xl-3">
          <section class="panel panel-featured-left panel-featured-primary">
            <div class="panel-body">
              <div class="widget-summary">
                <div class="widget-summary-col widget-summary-col-icon">
                  <div class="summary-icon bg-primary">
                    <i class="fa fa-life-ring"></i>
                  </div>
                </div>
                <div class="widget-summary-col">
                  <div class="summary">
                    <h4 class="title">Support Questions</h4>
                    <div class="info">
                      <strong class="amount">1281</strong>
                      <span class="text-primary">(14 unread)</span>
                    </div>
                  </div>
                  <div class="summary-footer">
                    <a href="/" class="text-muted text-uppercase">(view all)</a>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>


        <div class="col-md-3 col-lg-3 col-xl-3">
          <section class="panel panel-featured-left panel-featured-primary">
            <div class="panel-body">
              <div class="widget-summary">
                <div class="widget-summary-col widget-summary-col-icon">
                  <div class="summary-icon bg-primary">
                    <i class="fa fa-life-ring"></i>
                  </div>
                </div>
                <div class="widget-summary-col">
                  <div class="summary">
                    <h4 class="title">Support Questions</h4>
                    <div class="info">
                      <strong class="amount">1281</strong>
                      <span class="text-primary">(14 unread)</span>
                    </div>
                  </div>
                  <div class="summary-footer">
                    <a href="/" class="text-muted text-uppercase">(view all)</a>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>

        <div class="col-md-3 col-lg-3 col-xl-3">
          <section class="panel panel-featured-left panel-featured-primary">
            <div class="panel-body">
              <div class="widget-summary">
                <div class="widget-summary-col widget-summary-col-icon">
                  <div class="summary-icon bg-primary">
                    <i class="fa fa-life-ring"></i>
                  </div>
                </div>
                <div class="widget-summary-col">
                  <div class="summary">
                    <h4 class="title">Support Questions</h4>
                    <div class="info">
                      <strong class="amount">1281</strong>
                      <span class="text-primary">(14 unread)</span>
                    </div>
                  </div>
                  <div class="summary-footer">
                    <a href="/" class="text-muted text-uppercase">(view all)</a>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>

        <div class="col-md-3 col-lg-3 col-xl-3">
          <section class="panel panel-featured-left panel-featured-primary">
            <div class="panel-body">
              <div class="widget-summary">
                <div class="widget-summary-col widget-summary-col-icon">
                  <div class="summary-icon bg-primary">
                    <i class="fa fa-life-ring"></i>
                  </div>
                </div>
                <div class="widget-summary-col">
                  <div class="summary">
                    <h4 class="title">Support Questions</h4>
                    <div class="info">
                      <strong class="amount">1281</strong>
                      <span class="text-primary">(14 unread)</span>
                    </div>
                  </div>
                  <div class="summary-footer">
                    <a href="/" class="text-muted text-uppercase">(view all)</a>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>


      </div>
    </div>
  </div>
</div>
